.panel.panel-default
  .panel-heading
    %h1 Listing posts

    = link_to 'New Post', new_post_path, class: "btn btn-primary", style: "margin-bottom:30px"

    .panel.panel-primary
      .panel-body
        %table.table 
          .row
            .col-sm-3 
              .col-sm-offset-3
                %thead
                %tr
                  %th= "Sr. No."
                  %th= "Name"
                  %th= "Title"
                  %th= "Post"
                  %th= "Action"
                %tbody
            - @posts.each_with_index do |post, index|
              %tr
                %td= post.id
                %td= post.user_name
                %td= post.title
                %td= post.body
                %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = paginate @posts, remote: true